.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  &__info {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
  }
  h2 {
    padding: 134px 0 8px;
  }
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 58px 3% 0;
  position: relative;
  .user {
    width: calc(100% / 3);
    padding: 0 1.5%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 65px;
    &__img {
      width: 70px;
      height: 70px;
      background-color: #b7b7b7;
      margin-right: 8px;
      border-radius: 70px;
    }
    &__info {
      width: 215px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-family: 'PT Sans', sans-serif;
      color: #4c4b4b;
      padding-top: 24px;
      height: 130px;
      h4 {
        color: #000000;
        padding-bottom: 11px;
        line-height: 25px;
      }
      span {
        line-height: 16px;
        padding-bottom: 4px;
      }
    }
  }
}

.showUsers {
  color: #ef6c00;
  border: 2px solid #ef6c00;
  box-sizing: border-box;
  width: 28.25%;
  height: 40px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: 11px;
  left: 50%;
  margin-left: -14.125%;
  background-color: #ffffff;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #fee6d2;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .users {
    width: 100%;
    h2 {
      padding: 68px 0 12px;
    }
    &__info {
      text-align: center;
      font-size: 16px;
      padding: 0 23%;
      span {
        text-align: center;
      }
    }
    .userList {
      flex-direction: column;
      padding: 32px 2% 0;
      .user {
        padding: 0;
        width: 100%;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__info {
          width: 100%;
          height: max-content;
          max-height: 115px;
          padding-top: 14px;
          h4 {
            text-align: center;
            padding: 0 11px 6px;
          }
        }
        &__position{
          text-align: center;
        }
        &__email{
          text-align: center;
        }
        &__phone{
          text-align: center;
        }
      }
    }
    .showUsers {
      bottom: -49px;
      width: 90%;
      left: 50%;
      margin-left: -45%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .users {
    h2 {
      padding: 94px 0 9px;
    }
    .userList {
      padding: 40px 1% 0;
      .user {
        flex-direction: column;
        align-items: center;
        margin-bottom: 23px;
        padding: 0 1.5%;
        &__img {
          margin-right: 0;
        }
        &__info {
          align-items: center;
          padding-top: 13px;
          height: 130px;
          h4 {
            padding-bottom: 10px;
            text-align: center;
          }
        }
        &__position {
          padding-bottom: 1px;
        }
        &__email {
          padding-bottom: 3px;
        }
      }
    }
    .showUsers {
      bottom: -32px;
      width: 38%;
      left: 50%;
      margin-left: -19%;
    }
  }
}

@media screen and (min-width: 2560px){
  .users {
    width: 1190px;
    margin: 0 auto;
    h2 {
      padding: 133px 0 9px;
    }
  }
  .userList {
    padding: 58px 0 0 20px;
    .user {
      width: 380px;
      padding: 0;
      margin: 0 5px 42px;
    }
  }
  .showUsers {
    bottom: -13px;
    width: 24.5%;
    margin-left: -12.25%;
  }
}