.singUp {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 0 4.5%;
  box-sizing: border-box;
  h2 {
    padding: 133px 0 15px;
  }
  &__content {
    display: flex;
    width: 100%;
  }
  &__img{
    margin-right: 3.3%;
    svg {
      width: 289px;
      height: 285px;
      margin-top: 6px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 65.5%;
    font-size: 16px;
    padding-top: 25px;
    h3 {
      padding-bottom: 4px;
    }
    p {
      padding-bottom: 21px;
      line-height: 22px;
    }
  }
  &__singUpButton {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #ef6c00;
    transition: color 0.3s;
    &:hover {
      color: #fc831f;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .singUp {
    padding: 0 4.5%;
    h2 {
      padding: 66px 0 15px;
    }
    &__content {
      flex-direction: column;
    }
    .singUp__info {
      width: 100%;
      align-items: center;
      padding-top: 23px;
      h3, p {
        text-align: center;
      }
      h3 {
        padding: 0 6% 13px;
      }
      p {
        padding-bottom: 22px;
        &:nth-of-type(2) {
          padding-bottom: 14px;
        }
      }
    }
    &__img{
      svg {
        width: 100%;
        height: 216px;
        margin-top: 9px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .singUp {
    padding: 0 2.75% 0 3.1%;
    h2 {
      padding: 112px 0 15px;
    }
    &__info {
      width: 79%;
      padding-top: 23px;
      h3 {
        padding-bottom: 9px;
      }
      p {
        padding-bottom: 22px;
        &:nth-of-type(2) {
          padding-bottom: 19px;
        }
      }
    }
    &__img{
      margin-top: 21px;
      margin-right: 1.5%;
      svg {
        width: 92%;
        height: auto;
        margin-top: 6px;
      }
    }
  }
}

@media screen and (min-width: 2560px){
  .singUp {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    h2 {
      padding: 133px 0 16px;
    }
    &__info {
      width: 750px;
      h3 {
        padding-bottom: 5px;
      }
      p {
        &:nth-of-type(2) {
          padding-right: 65px;
          padding-bottom: 11px;
        }
      }
    }
    &__img {
      margin: 20px 0 0 35px;
    }
    &__content {
   justify-content: space-between;
    }
  }
}