.headerInfo {
  background: url("../../../assets/imgs/bg-desktop.jpg") 0 0 no-repeat #0e1a74;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  &__content {
    display: inline-flex;
    width: 45%;
    max-width: 1440px;
    flex-direction: column;
    padding: 0 0 158px 46px;
  }
  &__head {
    padding-top: 134px;
    line-height: 59px;
  }
  &__description {
    font-size: 20px;
    padding: 22px 0 44px 2px;
    line-height: 25px;
  }
  &__signUpButton {
    box-sizing: border-box;
    width: 290px;
    height: 40px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ef6c00;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: #ffffff;
      border: 2px solid #ef6c00;
      color: #ef6c00;
    }
    &:active {
      background-color: #fee6d2;
      color: #fc831f;
    }
  }
}

@media screen and (max-width: 320px){
  header {
    .headerInfo {
      background: url("../../../assets/imgs/bg-mobile.jpg") no-repeat;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .headerInfo {
    &__content {
      width: 100%;
      padding: 0 4.7% 70px;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .headerInfo {
    &__head {
      padding-top: 67px;
      line-height: 34px;
    }
    &__content {
      width: 100%;
      padding: 0 4.7% 70px;
      box-sizing: border-box;
      align-items: center;
    }
    &__description {
      display: none;
    }
    h1 {
      display: flex;
      flex-direction: column;
      text-align: center;
      &::after {
        content: "We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository.";
        font-size: 16px;
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        line-height: 22px;
        padding-top: 10px;
        padding-bottom: 38px;
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  header {
    .headerInfo {
      background: url("../../../assets/imgs/bg-tablet.jpg") no-repeat;
    }
  }
}

@media screen and (max-width: 768px){
  .headerInfo {
    background: url("../../../assets/imgs/bg-tablet.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .headerInfo {
    &__content {
      padding: 0 40% 120px 3%;
      width: 100%;
      box-sizing: border-box;
    }
    &__head {
      padding-top: 113px;
      line-height: 51px;
    }
    &__description {
      font-size: 18px;
      padding: 18px 10% 34px 0.25%;
      line-height: 24px;
      width: 100%;
      box-sizing: border-box;
    }
    &__signUpButton {
      margin-left: 0.5%;
      width: 66%;
    }
  }
}

@media screen and (min-width: 1441px){
  .headerInfo {
    background: none;
  }
}

@media screen and (min-width: 2560px){
  .headerInfo {

    display: flex;
    justify-content: center;
    &__content {
      width: 1140px;
    }
    &__head {
      padding-top: 133px;
    }
    &__description {
      padding: 22px 0 38px 2px;
    }
  }
}