.requirements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("../../../assets/imgs/bg-2desktop.jpg") 0 0 no-repeat #283593;
  background-size: cover;
  color: #ffffff;
  h2{
    padding: 134px 0 37px;
  }
  &__content {
    display: flex;
    width: 100%;
    max-width: 1440px;

    box-sizing: border-box;
    padding: 0 4.5%;
  }
  &__info {
    width: 49.5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 113px;
    p{
      font-size: 16px;
      color: #ffffff;
      font-family: 'PT Sans', sans-serif;
      padding-bottom: 22px;
      line-height: 22px;
    }
  }
  &__img {
    background-size: cover;
    width: 429px;
    height: 362px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 320px){
  .requirements {
    background: url("../../../assets/imgs/bg2-mobile.jpg") no-repeat;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .requirements {
    background: url("../../../assets/imgs/bg2-tablet.jpg") no-repeat;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements {
    h2 {
      padding: 68px 4% 25px;
      line-height: 30px;
      text-align: center;
    }
    &__content {
     flex-direction: column;
      padding: 0 5%;
    }
    &__info {
      order: 1;
      padding: 23px 0 42px;
      p {
        text-align: center;
      }
    }
    &__img {
      order: 0;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      svg {
        width: 90%;
        height: auto;
      }
    }
    &__info {
      width: 100%;
    }
  }
}

@media screen and (width: 768px){
  .requirements {
    background: url("../../../assets/imgs/bg2-tablet.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .requirements {
    h2 {
      padding: 75px 9% 9px;
      text-align: center;
    }
    &__content {
      padding: 0 3%;
    }
    &__info {
      width: 49%;
    }
    &__img {
      background: url("../../../assets/imgs/man-laptop-v2.svg") no-repeat;
      width: 47.5%;
      height: auto;
      margin-top: 4px;
      svg {
        display: none;

      }
    }
  }
}

@media screen and (min-width: 1441px){
  .requirements {
    background: url("../../../assets/imgs/bg2-2k.jpg") no-repeat;
  }
}

@media screen and (min-width: 2560px){
  .requirements {
    &__content {
      justify-content: space-between;
      width: 1140px;
      padding: 0;
    }
    &__info {
      width: 553px;
    }
    &__img {
      margin-top: 4px;
      margin-right: 62px;
    }
    h2 {
      padding: 133px 0 37px;
    }
  }
}