.checkIn__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

label[for="checkIn__userName"] {
  &::before {
    content: 'Name';
  }
}

label[for="checkIn__userEmail"] {
  &::before {
    content: 'Email';
  }
}

label[for="checkIn__userPhone"] {
  &::before {
    content: 'Phone';
  }
}

.checkIn__formRow {
  display: flex;
  flex-direction: column;
}

.addFile__desc {
  color: #8d8c8c;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 11px;
}

.checkIn__formRowError {
  label {
    color: red;
    input {
      border-color: red;
    }
  }
}

.checkIn__formError {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: red;
  margin-top: 4px;
  margin-left: 11px;
}

