header {
  display: flex;
  flex-direction: column;
  .headerContent {
    z-index: 9999;
    width: 100%;
    background-color: #ffffff;
    &_fixed {
      position: fixed;
    }

    .menu {
      &__item {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        transition: background-color 0.3s;
        a {
          padding: 0 14px;
        }
        &:hover {
          background-color: #fee6d2;
        }
      }
    }
    &__links {
      display: flex;
      align-items: center;
    }
  }
  .headerContent__box {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 46px 0 47px;
    height: 60px;
  }
  .headerInfo {
    color: #ffffff;
  }
}

.mobileMenu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  header {
    position: relative;
    .headerContent {
      width: 100%;
      .menu {
        background-color: #ffffff;
        &__item {
          width: 100%;
          justify-content: flex-start;
          a {
            padding: 15px 7.5%;
            width: 100%;
          }
        }
      }
      .logo {
        padding-top: 10px;
      }
      &__links {
        display: none;
      }
      &__linksMobile {
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(22, 12, 13, .35);
        height: 100vh;
        box-sizing: border-box;
        .userAccount {
          order: 0;
          padding-top: 30px;
          width: 78%;
          padding-left: 7.5%;
          padding-bottom: 25px;
        }
        .menu {
          width: 78%;
          order: 1;
          display: flex;
          height: 100vh;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .headerContent__box {
      padding: 0 0 0 5%;
      width: 100%;
    }
  }
  .mobileMenu {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  header {
    .headerContent__box {
      padding: 0 0 0 3%;
      .logo {
        padding-top: 8px;
      }
    }
  }
}

@media screen and (min-width: 1441px){
  header {
    background: url("../../assets/imgs/bg-2k.jpg") 0 60px no-repeat;
  }

}

@media screen and (min-width: 2560px){
  header {
    .headerContent {
      width: 100%;
      align-self: center;
    }
    .headerContent__box {
      width: 1140px;
      margin: 0 auto;
      padding: 0;
    }
    .headerInfo {
      &__content {
        padding: 0 645px 141px 0;
        box-sizing: border-box;
      }
    }
  }
}